@media (max-width: 1016px) {
  main {
    display: block;
    padding: 0px;
    padding-right: 12.25vw;
    padding-left: 12.25vw;
    justify-content: space-between;
  }
  div.about-txt {
    position: absolute;
    top: 0px;
    max-width: 200px;
    margin: 0;
  }
  .about-txt h1,
  .hist-txt h1 {
    font-size: 24px;
  }
  .about-txt p,
  .hist-txt p {
    font-size: .8rem;
  }
  div.profile {
    display: block;
    width: 80px;
    position: absolute;
    top: 2vh;
    right: 17.25vw;
    padding: 0;
  }
  div.prof1,
  div.prof2 {
    /* background-size: 80px; */
    /* padding: 0; */
    max-height: 80px;
    max-width: 80px;
  }
  div.prof1 img,
  div.prof2 img {
    /* background-size: 80px; */
    /* padding: 0; */
    max-height: 80px;
    max-width: 80px;
  }
  .prof1 {
    transform: translateX(80px);
  }
  .prof2 {
    transform: translateY(90px);
  }
  div.timeline {
    margin-left: 461px;
    transform: translateY(10vh);
    max-width: 107px;
    max-height: 260px;
    display: flex;
    justify-content: flex-start;
  }
  .timeline img {
    width: 107px;
    height: 260px;
  }
  .hist-txt {
    padding: 0;
    margin-top: 45vh;
    width: 170px;
    max-height: 630px;
    transform: translateX(-91px);
  }
  .hist-txt p {
    width: 170px;
  }
}

main {
  /* display: inline-block; */
  display: grid;
  grid-template-columns: 700px 550px;
  padding: 0 12.25vw;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  ;
}

h1 {
  font-size: 72px;
  margin: 0;
}

div.about-txt {
  /* display: flex;
  flex-wrap: wrap; */
  width: 550px;
  min-height: 385px;
  margin-left: -5px;
  margin-top: 190px;
  font-size: 32px;
  text-align: left;
}

div.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-right: -20px; */
  margin-top: 20vh;
  max-width: 33.7vw;
  height: 269px;
  width: 550px;
  flex-wrap: nowrap;
}

div.prof1 {
  /* margin: 0 10px; */
  height: 269px;
  width: 269px;
  min-height: 80px;
  min-width: 80px;
  /* background-image: url(../img/andre.png);
  background-repeat: no-repeat; */
}

div.prof2 {
  /* margin: 0; */
  height: 269px;
  width: 269px;
  min-height: 80px;
  min-width: 80px;
  /* background-image: url(../img/paulo.png);
  background-repeat: no-repeat; */
}

div.timeline {
  /* display: flex; */
  /* margin: 260px 45px 0px 200px; */
  margin-top: 260px;
  width: 650px;
  height: 1625px;
  opacity: 30%;
  /* background-image: url(../img/timeline_color.png);
  background-repeat: no-repeat; */
}

div.hist-txt {
  /* display: flex;
  align-self: flex-end; */
  max-width: 610px;
  height: 1123px;
  text-align: right;
  font-size: 32px;
  justify-content: flex-end;
  display: table-column;
}

div.hist-txt h1 {}