:root {
  --corlight: #fbd0d7;
  --cor0: #F58194;
  --cor1: #D63A59;
  --cor2: #CC092F;
  --cor3: #C3489C;
  --cor4: #B41A83;
  --cor5: #871462;
  --fonte-padrao: "Comfortaa", Verdana, Helvetica, sans-serif;
  --tamanho-padrao: 400;
  --tamanho-bold: 700;
  --fundo-home: url("../img/fundohome.png");
  --botao-fundo: url("../svg/lupa.svg");
  --botao-hover: url("../svg/lupa_hover.svg")
}

.logo-home:hover img {
  opacity: 80%;
}

.cabecalho>nav a:hover {
  transition: .5s;
  color: var(--corlight);
  text-decoration: underline 1px;
  text-underline-position: under;
  text-decoration-color: var(--corlight);
}


/* .cabecalho.on>nav a:hover {
  transition: .5s;
  color: var(--cor2);
  border-radius: 20px;
  padding: 0 20px;
  background-color: var(--corlight);
} */

.cabecalho>nav a:active {
  opacity: 0.75;
}

div.search-box:hover {
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 0px 6px rgba(0, 0, 0, 0.25);
}

div.search-box:hover>input.search-txt {
  padding: 0px 6px;
  padding-left: 10px;
  width: 240px;
}

div.search-box:hover>a.search-button {
  background-image: var(--botao-hover);
  background-color: rgb(135, 20, 98);
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 0px 6px #C3489C;
}

div.search-box:hover>::-webkit-input-placeholder {
  color: var(--cor5);
  opacity: 75%;
}

.language:hover {
  transition: .5s;
  background-image: url(../img/language-icon-hover.png);
}

.language p:hover {
  transition: .5s;
  color: var(--corlight);
  text-decoration: underline 1px;
  text-underline-position: under;
  text-decoration-color: var(--corlight);
}

.about-btn:hover {
  transition: .5s;
  color: var(--cor1);
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.gallery:hover {
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.gallery>.services>a:hover {
  transition: .5s;
  text-decoration: underline;
  color: var(--corlight)
}

.arrow-dir:hover {
  background-image: url("../img/seta_dir_hover.png");
}

.arrow-lef:hover {
  background-image: url("../img/seta_lef_hover.png");
}

.photos ul li div:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.menu-port>nav a:hover {
  transition: .5s;
  color: var(--corlight);
  text-decoration: underline 1px;
  text-underline-position: under;
  text-decoration-color: var(--corlight);
}

.trabalhos img:hover {
  filter: brightness(100%);
}

footer a:hover {
  transition: .5s;
  text-decoration: underline;
  color: var(--corlight);
}