header a:hover {
  transition: .25s;
  padding-top: 36px;
  font-size: 18px;
  margin-left: 43px;
}

header a:active {
  opacity: 0.75;
}


/* div.botao:hover {
  transition: .3s;
  background-color: rgb(135, 20, 98);
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 0px 6px #C3489C;
} */

input.button:hover {
  transition: .3s;
  background-image: var(--botao-hover);
  background-color: rgb(135, 20, 98);
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 0px 6px #C3489C;
}