@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
:root {
  --cor0: #F58194;
  --cor1: #D63A59;
  --cor2: #CC092F;
  --cor3: #C3489C;
  --cor4: #B41A83;
  --cor5: #871462;
  --fonte-padrao: "Comfortaa", Verdana, Helvetica, sans-serif;
  --tamanho-padrao: 400;
  --tamanho-bold: 700;
  --fundo-home: url("../img/fundohome.png");
  --botao-fundo: url("../svg/lupa.svg");
  --botao-hover: url("../svg/lupa_hover.svg")
}

body {
  background-image: var(--fundo-home);
  background-position: top center;
  background-size: 100vw;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

header {
  width: 100%;
  min-height: 94px;
  /* background-color: #E3597F; */
  font-family: var(--fonte-padrao);
  display: flex;
  justify-content: center;
}

header nav {
  align-self: center;
}

header>nav a {
  font-size: 16px;
  font-weight: var(--tamanho-padrao);
  color: white;
  text-decoration: none;
  margin-left: 46px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.400);
}

header a.port {
  margin-left: 47px;
}

header a.cont {
  margin-left: 47px;
}

div.search-box {
  margin: 34.5px 37px;
  height: 37px;
  padding: 2px;
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
  display: flex;
  justify-content: space-between;
  /* joga o item 1 totalmete para a esquerda e o item 2 totalmente para a direita */
  align-items: center;
  /* alinha os itens verticalmente */
  transition: .5s;
}

input.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0px;
  color: var(--cor1);
  font-size: 16px;
  font-weight: var(--tamanho-bold);
  font-family: var(--fonte-padrao);
  width: 0;
  transition: .5s;
}

a.search-button {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--botao-fundo);
  transition: .5s;
}

::-webkit-input-placeholder {
  color: white;
  font-family: var(--fonte-padrao);
  font-weight: var(--tamanho-bold);
  transition: .5s;
}