@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@media (max-width: 1016px) {
  .links-menu,
  .language {
    display: none;
  }
  .cabecalho.on {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(150deg, #D63A59, #871462);
  }
  .menu-burguer {
    width: 40px;
    height: 30px;
    margin: auto 0;
  }
  .one,
  .two,
  .three {
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    border-radius: 5px;
  }
  .cabecalho.on .links-menu {
    display: block;
  }
  .cabecalho.on .menu-burguer {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .cabecalho.on .menu-burguer .one {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .cabecalho.on .menu-burguer .two {
    opacity: 0;
  }
  .cabecalho.on .menu-burguer .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }
  .cabecalho.on nav.links-menu a {
    display: block;
    text-align: center;
    transition: .5s;
    font-size: 5rem;
    line-height: 15rem;
  }
  .language p {
    display: none;
  }
  header div.search-box {
    display: none;
    background: none;
  }
}

:root {
  --corlight: #fbd0d7;
  --cor0: #F58194;
  --cor1: #D63A59;
  --cor2: #CC092F;
  --cor3: #C3489C;
  --cor4: #B41A83;
  --cor5: #871462;
  --fonte-padrao: "Comfortaa", Verdana, Helvetica, sans-serif;
  --tamanho-padrao: 400;
  --tamanho-bold: 700;
  --fundo-home: url("../img/fundohome.png");
  --botao-fundo: url("../svg/lupa.svg");
  --botao-hover: url("../svg/lupa_hover.svg");
}

body {
  font-family: var(--fonte-padrao);
  color: white;
  background-image: var(--fundo-home);
  background-position: top left;
  background-size: 100vw;
  background-attachment: scroll;
  margin: 0px;
  height: 100vh;
  max-width: 100vw;
}

abbr {
  text-decoration: none;
}

ul {
  list-style: none;
}

.cabecalho {
  margin: 0 12.25vw;
  /* max-width: 70vw; */
  height: 70px;
  display: flex;
  justify-content: space-between;
  font-family: var(--fonte-padrao);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: saturate(100%);
  backdrop-filter: saturate(100%);
}


/* nav.links-menu {
  transform: translateX(120px);
} */

.logo-home {
  align-self: center;
  justify-self: flex-start;
  /* position: absolute;
  top: 20px;
  left: 206px; */
}

.logo-home img {
  height: 31px;
  transition: .5s;
}

.cabecalho nav {
  align-self: center;
}

.cabecalho>nav a {
  font-size: 1rem;
  font-weight: var(--tamanho-padrao);
  color: white;
  text-decoration: none;
  margin-left: 46px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.400);
}

.cabecalho a.port {
  margin-left: 47px;
}

.cabecalho a.cont {
  margin-left: 47px;
}

div.search-box {
  margin: 14.5px 37px;
  height: 37px;
  padding: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
  display: flex;
  justify-content: space-between;
  /* joga o item 1 totalmete para a esquerda e o item 2 totalmente para a direita */
  align-items: center;
  /* alinha os itens verticalmente */
  transition: .5s;
}

input.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0px;
  color: var(--cor1);
  font-size: 16px;
  font-weight: var(--tamanho-bold);
  font-family: var(--fonte-padrao);
  width: 0;
  transition: .5s;
}

a.search-button {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--botao-fundo);
  transition: .5s;
}

::-webkit-input-placeholder {
  color: white;
  font-family: var(--fonte-padrao);
  font-weight: var(--tamanho-bold);
  transition: .5s;
}

.language {
  align-self: center;
  background-image: url(../img/language-icon.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.language a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  height: 20px;
  align-items: center;
}

.language p {
  padding-right: 25px;
  font-size: 14px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

hr {
  margin: 0;
  height: 2px;
  border: none;
  background-color: white;
  opacity: 15%;
}

.logo-slogan {
  padding-top: 206px;
  margin: 0 12.25vw;
  justify-content: flex-start;
  max-width: 533px;
  min-width: 200px;
  /* width: 533px; */
}

.about {
  padding-top: 22px;
}

.about-btn {
  padding: 10px 15px;
  margin: 0 12.25vw;
  max-height: 46px;
  max-width: 176px;
  min-width: 68px;
  font-size: 24px;
  font-weight: var(--tamanho-bold);
  font-family: var(--fonte-padrao);
  color: var(--cor0);
  text-decoration: none;
  background-color: white;
  border-radius: 8px;
}

.gallery {
  padding-top: 100px;
  margin-top: 500px;
  min-height: 400px;
  max-width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  transition: .5s;
}

.gallery article {
  width: 360px;
  height: 300px;
  /* background-color: #CC092F; */
  margin-left: 206px;
  padding: 10px 0 10px 0;
}

.gallery>.services>a {
  text-decoration: none;
  color: white;
}

nav.nav-arrows {
  padding-top: 20px;
  display: flex;
  justify-content: justify;
}

.arrow-dir {
  height: 25px;
  width: 16px;
  margin-left: 40px;
  background-image: url("../img/seta_dir.png");
  background-size: cover;
  transition: .25s;
}

.arrow-lef {
  height: 25px;
  width: 16px;
  margin-left: 10px;
  background-image: url("../img/seta_lef.png");
  background-size: cover;
  transition: .25s;
}

.gallery>.photos {
  /* background-color: white; */
  height: 300px;
  width: 800px;
  margin-right: 206px;
  display: inline;
  overflow-y: scroll;
  overflow-x: hidden;
}

.photos::-webkit-scrollbar {
  border-radius: 8px;
  background-color: white;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16)
}

.photos::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--cor2), var(--cor4));
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.photos ul {
  margin: 0;
  padding: 0;
}

.photos ul li {
  list-style: none;
  display: inline;
}

.photos ul li div {
  float: left;
  height: 280px;
  width: 340px;
  min-width: 340px;
  padding: 16px 0 0 16px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.444);
  margin: 0px 10px 10px 0px;
  transition: .5s;
}

.photos h3 {
  padding-top: 100px;
}

.photos p {
  padding-top: 34px;
  font-size: 12px;
}

footer {
  margin-top: 130px;
  color: white;
  text-align: center;
  font-size: .8em;
  padding: 5px;
}

footer a {
  color: white;
  text-align: center;
  text-decoration: none;
}